:root {
	--color-white: rgba(255, 255, 255, 1);
	--color-white-04: rgba(255, 255, 255, 0.4);
	
	--color-black: rgba(0, 0, 0, 1);
	
	--color-cyan: rgba(0, 255, 255, 1);
	--color-cyan-05: rgba(0, 255, 255, 0.5);
	--color-cyan-03: rgba(0, 255, 255, 0.3);
}
